/* https://coolors.co/ffffff-412234-6d466b-b49fcc-ead7d7 */

:root {
    --c1: #678d58; 
    --c2: #9ad5ca; 
    --c3: #7579af;
    --c4: #b49fcc;
    --c5: #ead7d7;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    color: var(--c1);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: auto;
    padding: 3px;
}

h2 {
    margin: auto;
    padding: 3px;
}

h3 {
    margin: auto;
    padding: 3px;
}

h4 {
    margin: auto;
    padding: 3px;
}

table {
    background-color: #ffffff;
    border-collapse: collapse;
    margin: 1% 0 1% 0;
}

td, th {
    text-align: left;
    padding: 8px;
}

td {
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.scan-results-table > table > tr:hover {
    background-color: #cccccc;
}

.details {
    font-size: 10pt;
}

p {
    margin: auto;
    padding: 3px;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5% 95%;
    height: 100%;
    left: 0;
    min-width: 500px;
    position: absolute;
    top: 0;
    width: 100%;
}

.title-bar {
    background-color: var(--c2);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#viewer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: hidden;
}

.notifications {
    text-align: right;
}

.notifications-button {
    background-color: var(--c2);
    left: 1%;
    padding: 2px 4px;
    position: absolute;
    top: 6%;
    z-index: 999;
}

.notification-panel {
    background-color: var(--c2);
    border-width: 3px;
    box-shadow: 0 5px 10px 0 rgba(133,133,133,1);
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 300px;
    z-index:1000;
}

.notification {
    background: var(--c3);
    margin: 3px;
    padding: 3px;
    text-align: left;
}

.notification > .details {
    background: var(--c4);
    margin: 3px;
    padding: 3px;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.tabs:hover {
    cursor: pointer;
}

.tab {
    align-items: center;
    display: flex;
    justify-content: center;
}

.scan-tab {
    background-color: var(--c3);
}

.constellation-tab {
    background-color: var(--c4);
}

.jobs-tab {
    background-color: var(--c5);
}

.control-panel {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    overflow: auto;
    max-width: 100%;
}

.scan-panel {
    background-color: var(--c3);
}

.constellation-panel {
    background-color: var(--c4);
}

.jobs-panel {
    background-color: var(--c5);
}

.scan-results-table {
    width: 100%;
}

.jobs-table {
    table-layout: fixed;
    width: 100%;
}

@media (max-width: 1080px) {
    .main-grid {
        grid-template-columns: 100%;
        grid-template-rows: 5% 50% 5% 40%;
    }

    .control-panel {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .tabs {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}
