<!DOCTYPE html>
<html lang="en">
<head>
    <title>BUDE ALA Scan</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='elm/bals.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bio-pv.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/FileSaver.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One|Source+Code+Pro" rel="stylesheet">
</head>
<body>
</body>
<div id="main"></div>
<script type="text/javascript">
    var node = document.getElementById('main');
    var app = Elm.Main.embed(node);

    var viewer;
    var currentStructure;

    // This port initialises the PV viewer, it is trigger on init.
    app.ports.initialiseViewer.subscribe(
        function () {
            var options = {
                width: 'auto',
                height: 'auto',
                antialias: true,
                quality : 'medium'
            };
            viewer = pv.Viewer(document.getElementById('viewer'), options);
            window.onresize = function(event) {
                viewer.fitParent();
            }
        }
    );

    // This port handles loading structures into PV
    app.ports.showStructure.subscribe(function (pdbString) {
        viewer.clear();
        currentStructure = pv.io.pdb(pdbString);
        viewer.fitTo(currentStructure);
        const chainLabels = currentStructure.chains().map(x => x._L);
        const chainsSelection = currentStructure
            .chains()
            .map(x => currentStructure.select({chain: x._L}));
        for (i = 0; i < chainsSelection.length; i++) { 
            viewer.cartoon(
                currentStructure.chains()[i]._L + '_c',
                chainsSelection[i]);
            viewer.lines(
                currentStructure.chains()[i]._L + '_l',
                chainsSelection[i]);
        }
        app.ports.receiveStructureInfo.send(chainLabels);
        }
    );

    app.ports.setChainVisibility.subscribe(function (chainVisibility) {
        const chainLabel = chainVisibility[0];
        const visible = chainVisibility[1];
        if (visible) {
            viewer.show(chainLabel + '_c');
            viewer.show(chainLabel + '_l');
        } else {
            viewer.hide(chainLabel + '_c');
            viewer.hide(chainLabel + '_l');
        }
        viewer.requestRedraw();
    });

    // This port handles collecting information from selected files
    // and sending it through to the Elm app.
    app.ports.requestPDBFile.subscribe(function() {
        var fileToLoad = document.getElementById("pdbFileToLoad").files[0];
        var fileReader = new FileReader();
        fileReader.onload = function(fileLoadedEvent) {
            var textFromFileLoaded = fileLoadedEvent.target.result;
            app.ports.receivePDBFile.send(textFromFileLoaded);
        };
        fileReader.readAsText(fileToLoad, "UTF-8");
    });
</script>
</html>
